@{
    int currentPage = (int)ViewBag.CurrentPage;
    int totalPages = (int)ViewBag.TotalPages;
}

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link pagination-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</nav>
