@using Microsoft.AspNetCore.Identity
@using RewardsAndRecognitionRepository.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var displayName = User.Identity?.Name?.Split('@')[0];
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-light pe-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello, @displayName!
            </a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <form class="form-inline m-0" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light p-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>