@using Microsoft.AspNetCore.Identity
@using RewardsAndRecognitionRepository.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var displayName = User.Identity?.Name?.Split('@')[0];
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
       
        <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link dropdown-toggle text-light d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- Profile Icon (can be an avatar or Font Awesome icon) -->
                <img src="~/images/profile.png" alt="Profile" class="rounded-circle" width="38" height="38" />
                @* <span class="ms-2 d-none d-md-inline">@displayName</span> *@
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li>
                     <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <img src="~/images/profile_logo.png" alt="Profile" class="rounded-circle" width="35" height="35" />
                        Profile
                    </a>
                </li>
                <li>
                    <form method="post" asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">
                            <img src="~/images/logout_3.png" alt="Profile" class="rounded-circle" width="35" height="35" />
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
